.container-spinner {
    background: rgb(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999999;
}

/* ************************* Spinner styles custom */
.green-spinner {
    display: inline-block;
    --mat-progress-spinner-active-indicator-color: #38761d !important;

}

.white-spinner {
    display: inline-block !important;
    --mat-progress-spinner-active-indicator-color: #ffffff !important;
}